:root {
  width: 100%;
  height: 100%;
  margin-top: 0%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: #eef8f1;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 5px;
  
}
button:hover {
  border-color: #c6e707;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #005035;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #5bd1aa;
  }
}

h3.almendro{
  font-size: 2em;
  color: #51cea4;
  margin-left: 15%;
}

div.app{
  width: 100%;
}

div.carrito{
  margin-right: 15%;


}

nav{
  background-color: #edf5e1;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 0%;
  display: inline-flex;
  padding: 0%;
  height: 100px
}

div.menu{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

@media (max-width: 600px) {
  .menu {
    position: static;
    transform: none;
    text-align: center; /* Alineación centrada para la versión móvil */
  }
}

.nueces{
  margin-top: 5%;
  align-items: center;
  text-align: center;
  width: 400px;
}

.contenedor-nueces{
  background-color: #edf5e1;
  height: 1000px;
  align-items: center;
  text-align: center;

}

.contenedor-bienvenida{
  background-color: #f8f8f8;
  font-size: 30px;
  color: #5bd1aa;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

